{{> head }}

		{{> navbar }}

		<div class="row">
			<div class="col-8">
				<h1>Jumpman Logo</h1>
				<p>Cualquier cosa</p>
			</div>
			<div class="col-4">
				<img src="assets/img/jumpman.jpg" class="img-thumbnail" />
			</div>
		</div>

{{> footer }}